<!-- This file uses the vapour_base.html template which can be found in openstack_dashboard/templates. -->
{% extends 'vapour_base.html' %}

<!-- Any CSS styles you want to use in this template should be defined here. -->
{% block extra_styles %}

{% endblock %}

<!-- Text in this block will appear before any of the tables defined in the views. -->
{% block before_tables %}

{% endblock %}

<!-- This block appears before each table. -->
{% block before_each_table %}

{% endblock %}

<!-- This block appears after the template generates the defined columns. You may define any custom columns here (typically buttons or custom styled elements). -->
{% block extra_columns %}

{% endblock %}

<!-- This block appears after the template generates rows for the defined columns. Values for the extra columns should be supplied here in proper html. -->
{% block extra_values %}

{% endblock %}

<!-- This block appears after each table. -->
{% block after_each_table %}

{% endblock %}


<!-- This block appears after all the tables. -->
{% block after_tables %}

{% endblock %}
